// import functions and variables to access colors and add new
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
$custome-theme-colors: (
  'primary': #ffd700,
  'secondary': #fb1558,
  'dark': #131313,
  'light': #eeeeee,
  'gray': #888888,
  'altPrimary': #07b9ecaa,
  'tertiary': #70119a,
  'ultra-dark': #00181f,
  'gold': #ffd700
);
$theme-colors: map-merge($theme-colors, $custome-theme-colors);

$font-sizes: map-merge(
  $font-sizes,
  (
    7: 0.75rem,
    8: 0.5rem
  )
);

$font-sizes: map-merge(
  $font-sizes,
  (
    7: 0.75rem,
    8: 0.5rem
  )
);

.text-justify {
  text-align: justify;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1; // Ensure it stays behind all other content
  transform: translateX(0) translateY(0);
  transition: transform 0.1s ease-out;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.content {
  font-family: 'Josefin Sans', sans-serif !important;
}
.news {
  display: grid;
  height: 100%;

  .news__image {
    grid-row: 1;
    grid-column: 1;
    z-index: 1;
  }
  .news__date {
    grid-row: 1;
    grid-column: 1;
    z-index: 2;
    height: auto;
    align-self: start;
    justify-self: start;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  }
}
.news__button {
  justify-self: center;
  align-self: center;
}
.mt-01 {
  margin-top: -0.25em;
}
.mt-02 {
  margin-top: -0.5em;
}
.mt-03 {
  margin-top: -1em;
}
@media (min-aspect-ratio: 1/1) {
  .h-full {
    min-height: 100vh;
  }
}
@import '../../node_modules/bootstrap/scss/bootstrap';


.card-container{
  transition: all .5s ease-in-out;
  &:hover{
    transform: scale(1.1);
  }
}

.card-info{
  .card-img-container{
    filter: drop-shadow(4px 4px 0px rgb(0, 217, 255));
  }
  
  img{
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
    // transform: skew(-20deg);
  }

}

  

.w-33 {
  width: 33%;
}
.w-40 {
  width: 40%;
}

.carousel-container {
  overflow: hidden;
  width: 100%;
  position: relative; /* Ensure the container positions its children correctly */
}

.carousel-track {
  display: flex;
  position: relative;
  left: 0;
  justify-content: start;
  align-items: center;
  height: 220px;
  gap: 30 px;
  z-index: 1;
  
}


.carousel-track-hidden {
  opacity: 0;
  height: 0;
  transition: opacity 0.5s ease, height 0.5s ease;
}

.carousel-track-visible {
  opacity: 1;
  height: auto;
  transition: opacity 0.5s ease, height 0.5s ease;
}

.collapse-example-hidden {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.collapse-example-visible {
  max-height: 500px; /* Adjust this value based on the expected height */
  overflow: hidden;
  transition: max-height 0.5s ease;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media (min-width: 992px) {
  .lead-lg {
    font-size: 1.25rem; /* Default size for .lead */
    font-weight: 300;   /* Default weight for .lead */
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(200,200,200,1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color:#fff;
  -webkit-box-shadow: inset 0 0 6px rgba(90,90,90,0.7);
}